<div class="row">
  <div class="col-xs-4">
    <%= form_for(@config) do |f| %>
      <% if @config.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@config.errors.count, "error") %> prohibited this config from being saved:</h2>

          <ul>
          <% @config.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :key %><br>
        <%= f.text_field :key, :class => 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :value %><br>
        <%= f.text_field :value, :class => 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit :class => "btn btn-sm btn-primary" %>
        <%= link_to "Cancel", dashboard_path, :class => "btn btn-sm btn-default" %>
      </div>
    <% end %>
  </div>
</div>