<% provide(:title, 'Password Change Required') %>
<h1>Password Change Required</h1>
<div class="well well-lg">
  <div class="row">
    <div class="col-xs-4">
      <%= form_for(@user, :url => change_password_user_path ) do |f| %>
      <div class="form-group">
        <%= f.label 'New Password' %><br>
        <%= f.password_field :password, :class => 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label 'New Password Confirmation' %><br>
        <%= f.password_field :password_confirmation, :class => 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit :class => "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>